
<h1 class="text-center jumbotron" >List of cocktails</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1"></div>
            <%= link_to "Add cocktail", new_cocktail_path,  class: "btn btn-primary" %>

  </div>
   <div class="row">

    <% @cocktails.each do |cocktail| %>
    <% @rand_background =  ['berlin', 'shanghai', 'rio'].sample%>

    <div class="col-xs-12 col-md-4">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('/assets/<%= @rand_background %>.jpg');">
        <h3 class="text-center"><%= cocktail.name %></h3>

        <%= link_to "show cocktail", cocktail_path(cocktail),  class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
