<h1>cocktail with ingredients and doses</h1>
<ul>
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
  <li>
<%= @cocktail.name %>
<ul>

<% @cocktail.doses.each do |dose| %>
<li>
<%= "#{dose.description} #{dose.ingredient.name}"   %>
</li>
<% end %>
</ul>

</li>
</ul>
